@model ApplicationCore.Entities.Genre

<h2>Create Genre</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
